@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,800;1,300&display=swap');

/*Heading Common Attrib*/
.head-container
{
    color: #fff;
    text-align: center;
}
/* h1 design */
.head-container h1{
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}



/*Body Designing*/
body
{
    background-color: rgb(84, 92, 97);
}

/*Container*/
.flex-container{
   padding: 30px;
   display:flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #51595f;
   opacity: 0.95;  
}

/*Cards */
.card
{
    position: relative;
    margin: 10px;
    width: 280px;
    height: 100%;
    align-items: center;
    color: #fff;
    transform-origin: bottom;
    transition: 0.5s;
    
}
/*Cases Types*/
.card-body
{
    color: #fff;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
/*No. Of Cases*/
.card-text
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}


/*Colors For Cards*/
#active
{
    background: #4285f4;
}
#total
{
   background: #ea4335;
}
#death
{    
    background: #fbbc05;
}
#critic
{   
    background: #34a853;
}



/*Footer Style*/
footer p{
    text-align: center;
    color: #fff;
}